.insights-archive {
    padding-top: 80px;
    padding-right: 0;
    padding-bottom: 80px;
    padding-left: 0;
}

.insights-archive__list {
    margin-top: 32px;
}

@media (max-width: 560px) {
    .insights-archive {
        padding-top: 60px;
        padding-right: 0;
        padding-bottom: 60px;
        padding-left: 0;
    }
}
